body {
  height: 90vh;
  width: 90vw;
}
.App {
  background: #e7e7e7;
  display: flex;
  justify-content: center;
  padding: 5%;
  width: 80vw;
  height: 80vh;
}
.container {
  height: 47.5%;
  width: 50%;
  border: 5px black solid;
  background: rgba(0, 0, 0, 0.2);
  top: 20%;
  position: absolute;

  /* overflow: auto; */
}

.backgroundImg {
  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dayRow {
  width: 99.5%;
  height: 14%;

  /* background-color: lightblue; */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  border-bottom: blue 2px solid;
  border-left: blue 2px solid;
}

.formBar {
  display: inline-block;
  width: 50%;
  position: fixed;
  height: 30px;
  margin-bottom: 20px;
  background-color: #5813f0;
}

.dayRowBox {
  background-color: white;
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 15%;
  border: solid black 2px;
  margin: auto 2px;
  position: relative;
  top: 50%;
}
