body {
  height: 90vh;
  width: 90vw;
}
.App {
  background: #e7e7e7;
  display: flex;
  justify-content: center;
  padding: 5%;
  width: 60vw;
  height: 60vh;
}
.container {
  height: 50%;
  width: 50%;

  background: rgba(0, 0, 0, 0.2);

  position: absolute;

  overflow: auto;
}

.backgroundImg {
  height: 100%;
  width: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dayRow {
  width: 100%;
  height: 20%;
  background: rgba(0, 0, 0, 0.4);
  background-color: lightblue;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.formBar {
  display: inline-block;
  width: 49%;
  position: fixed;
  height: 30px;
  margin-bottom: 20px;
  background-color: #5813f0;
}

.dayRowBox {
  text-align: center;
  display: inline-block;
  height: 50px;
  width: 15%;
  border: solid black 2px;
  margin: auto auto;
}
